<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css" />
<title>Book Store</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
</head>
<body style="background-color: #f3f3f3;">
	<header class="header">
		<nav class="navbar border-bottom navbar-expand-lg navbar-light nav">
			<div class="container-fluid">
				<a class="navbar-brand text-black fw-bolder" href="#">Book Store</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item"><a
							class="nav-link active text-black mx-3 fw-bold" aria-current="page"
							href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link text-black mx-3 fw-bold"
							href="/available_books">Available Books</a></li>
						<li class="nav-item"><a class="nav-link text-black mx-3 fw-bold"
							href="/my_book">My Books</a></li>
					</ul>
					<div>
						<a class="nav-link text-black fw-bold" href="/book_register">New Book
							Register</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="container my-5 header__title">
			<p class="fs-1 fw-bolder">
				PICK YOUR <br /> FAVOURITE BOOK
			</p>
			<p class="fs-2">You Pick, We Provide</p>
			<img class="header__img rounded-3" src="/images/readImg.jpg" />
		</div>
	</header>
	<div class="container">
	<h2>TOP CATEGORIES</h2>
	<!-- Category cards -->
		<div class="row my-5">
			<div class="col">
				<div class="card mx-auto h-100" style="width: 18rem;">
					<img style="height: 12rem" src="/images/adventure.jpg" class="card-img-top img-fluid" alt="Adventure">
					<div class="card-body">
						<h5 class="card-title">Adventure</h5>
						<a href="/available_books/Adventure" class="btn btn-primary">Available Books</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto h-100" style="width: 18rem;">
					<img style="height: 12rem" src="/images/romance.jpg" class="card-img-top img-fluid" alt="Romance">
					<div class="card-body">
						<h5 class="card-title">Romance</h5>
						<a href="/available_books/Romance" class="btn btn-primary">Available Books</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto h-100" style="width: 18rem;">
					<img style="height: 12rem" src="/images/self_improvement.jpg" class="card-img-top img-fluid" alt="Self Improvement">
					<div class="card-body">
						<h5 class="card-title">Self Improvement</h5>
						<a href="/available_books/Self Improvement" class="btn btn-primary">Avaiable Books</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col">
				<div class="card mx-auto h-100" style="width: 18rem;">
					<img style="height: 12rem" src="/images/comics.jpg" class="card-img-top img-fluid" alt="Comics">
					<div class="card-body">
						<h5 class="card-title">Comics</h5>
						<a href="/available_books/Comics" class="btn btn-primary">Available Books</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto h-100" style="width: 18rem;">
					<img style="height: 12rem" src="/images/mystery.jpg" class="card-img-top img-fluid" alt="Mystery">
					<div class="card-body">
						<h5 class="card-title">Mystery</h5>
						<a href="/available_books/Mystery" class="btn btn-primary">Available Books</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto h-100" style="width: 18rem;">
					<img style="height: 12rem" src="/images/horror.jpg" class="card-img-top img-fluid" alt="Horror">
					<div class="card-body">
						<h5 class="card-title">Horror</h5>
						<a href="/available_books/Horror" class="btn btn-primary">Avaiable Books</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center p-5">
		<a href="/available_books" class="btn btn-primary">More Books</a>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>
</html>